<footer>
  <p>&copy; 2025 Soporte Tic Music. Todos los derechos reservados.</p>
</footer>

<style>
  footer {
    background-color: #181818;
    color: white;
    text-align: center;
    bottom: 0;
    height: 10dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    p {
      margin: 0;
      padding: 1rem;
    }
  }

  footer a {
    color: #4caf50;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }
</style>
